body{
    background-color: salmon;
    width: 550px;
    margin: 0px auto;
}
.inside {    
    position: absolute;
    background-color: burlywood;
    border: 6px black solid;
    width: 450px;
    height: 450px;
    margin: 80px auto;
    
}
.pigure {
    background-color: seagreen;
    border: 6px white solid;
    width: 100px;
    height: 100px;
    margin: 30px auto;
}
.pigure.a {
    width: 350px;
    border-style: dashed;
}


