body {
    background-image: url(images/sky.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 2000px;
  }
  div {
    text-align: center;
    background-color: white;
    width: 400px;
    height: 400px;
    padding: 50px;
    margin: 100px auto;

    border: 10px skyblue solid;
    border-radius: 50px;
  }
  img {
    width:400px;
    display: block;
    margin: 1px auto;
}
  h1 {
    color: skyblue;
    width: 120px ;
    margin: 20px auto;
    border-bottom: 5px ;
  }
  ul {
    text-align: left;
    width: 100px;
    margin: 0 auto;
  }

  a:hover {
    color: yellow;
  }